
<header id="headerhome">
    <div id="headerMenu">
        <li><a href="/products">Tienda</a></li>
        <li><a href="/profile">Perfil</a></li>
        <li><a id="btnLogout" href="/logout">Logout</a></li>
    </div>
</header>
<section id="perfil">
    <div id="perfilDatos">
        <h1>Current</h1>
        <p>Nombre y Apellido: {{name}} {{lastName}}</p>
        <p>Edad: {{age}} años</p>
        <p>Email: {{email}}</p>
        <p>Rol: {{role}}</p>
    </div>
</section>

<script src="/index.js"></script>
<script src="/js/logout.js"></script>